<div class="container d-flex justify-content-center align-items-center">
  <div class="row gap-4 d-flex justify-content-center align-items-center">
    <div class="img-dinheiro col-6 col-xs-12">
      <img src="/img/dinheiro.png" alt="" />
    </div>
    <div class="login-input col-6 col-xs-12 h-auto p-4">
      <h1 class="titu fs-5">Faça login e controle seu dinheiro</h1>
      <div class="">
        {{#if mensagemErro}}
            <p style="color: red; text-align: center;">
              {{mensagemErro}}
            </p>
          {{/if}}
        <form method="post" action="">
          <span>Email:</span>
          <input
            type="email"
            placeholder="Email"
            name="user" id="user"
          />

          <span>Senha:</span>
          <input
            type="password"
            placeholder="Senha"
            class="form-control"
            name="pwd" id="pwd"
          />
          <div class="erro" id="divMensagemPreco"></div>
          <button type="submit" class="cad">Entrar</button>
          <div class="cadastrar-link">
            <a href="/cadastro">Não possui uma conta? Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>