
<main>
<h1 class="tituloSobre">{{tituloPagina}}</h1>
    <div class="center">
        <div class="containerSobre">
            <img src="https://avatars.githubusercontent.com/u/60244854?v=4" alt="">
            <p><b>nome:</b> cindel evelyn<br>
                <b>telefone:</b> (35) 9 9707-1897<br>
                <b>email: </b> cindel.sousa@alunos.ifsuldeminas.edu.br<br>
                <b>RA: </b> 201811020026 <br>
                IFSULDEMINAS - Engenharia de Computação (8ºP) <br>
            </p>
        </div>

        <div class="containerSobre">
            <img src="https://avatars.githubusercontent.com/u/64995266?v=4" alt="">
            <p><b>nome:</b> cristhian cintra<br>
                <b>telefone:</b> (35) 9 9163-9546<br>
                <b>email:</b> cristhian.barbosa@alunos.ifsuldeminas.edu.br<br>
                <b>RA: </b> 14181000228G1402 <br>
                IFSULDEMINAS - Engenharia de Computação (8ºP) <br>
            </p>
        </div>
    </div>
</main>