main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1200px) {
  main {
    font-size: 15px;
  }
  table {
    font-size: 12px;
  }
  .menu-aberto {
    margin-top: 100px;
  }
  .btn-new {
    display: flex;
    justify-content: start !important;
    align-items: center;
  }
}

.container {
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.box {
  padding: 20px;
  width: 230px;
  height: 150px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: linear-gradient(
    109.29deg,
    rgba(255, 255, 255, 0.38) -4.63%,
    rgba(255, 255, 255, 0) 114.18%
  );
  z-index: 1000;
}

.box p {
  color: rgba(255, 255, 255, 0.7);
}

.box h3 {
  color: white;
  position: absolute;
  bottom: 20px;
}

.box:nth-child(3) {
  background: linear-gradient(
    111.43deg,
    rgba(102, 255, 88, 0.71) -10.26%,
    rgba(166, 255, 158, 0.13) 114.49%
  );
}

.total {
  background: linear-gradient(
    111.43deg,
    rgba(255, 88, 88, 0.71) -10.26%,
    rgba(255, 158, 158, 0.13) 114.49%
  ) !important;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 20px;
}

.titulo ion-icon {
  font-size: 20px;
}

.box .titulo .entrada {
  color: #75f94c;
}

.box .titulo .saida {
  color: #eb3223;
}

.box .titulo span {
  color: white;
}

.categorias {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categorias table tr {
  color: white;
  font-weight: 700;
}
.categorias table tr th:nth-child(1) {
  width: 365px;
}
.categorias table tr th:nth-child(2) {
  width: 200px;
}
.categorias table tr th:nth-child(3) {
  width: 200px;
}
.categorias table tr th:nth-child(4) {
  width: 150px;
}
.categorias table tr th:nth-child(5) {
  width: 100px;
}

th,
td {
  padding: 8px;
  border-bottom: 5px solid transparent;
}

.categorias .box-item {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    109.29deg,
    rgba(255, 255, 255, 0.2) -4.63%,
    rgba(255, 255, 255, 0.05) 114.18%
  );
}

.categorias .box-item td p {
  display: inline;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eb3223;
  color: #eb3223;
  border-radius: 10px;
  text-align: center;
}

td a ion-icon {
  font-size: 20px;
  color: white;
}

td span {
  color: #eb3223;
}

td label {
  color: #75f94c;
}

b {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  border-bottom: 1px solid gray;
}

.btn-new {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: right;
}

.btn-new a button {
  width: 200px;
  color: white !important;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    109.29deg,
    rgba(255, 255, 255, 0.2) -4.63%,
    rgba(255, 255, 255, 0.05) 114.18%
  );
}

.lista-vazia p {
  color: white;
}
